body {
    font-family: Arial, sans-serif;
    background-color: rgb(64, 195, 207);
    /* background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover;
    background-repeat: no-repeat; */
}


h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}

li {
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    min-width: 400px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   

}
li img{
    width: 100px;
    aspect-ratio: 1;
}
li p{
    margin: 10px;
    font-size: 20px;
}
.city-language{
    width:70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
#city-select{
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}
#language-select{
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}
label{
    font-weight:bold ;
}